{% extends 'master.html' %}

{% block title %}Sign in{% endblock title %}

{% block body %}


<!-- Button trigger modal -->

  <!-- Modal -->
  
<!-- 
<div class="signup-container">
    <div class="signup">
        <h3>BECOME A SANTOSH DHOLU</h3>
        <form action="" method="" id="signup-form">
            <div class="signup-form">
                <div class="signup-username">
                    <Label>Username</Label>
                    <input type="text" name="signup-username" placeholder="Username" required>
                </div>
                <div class="signup-email">
                    <label>Email Address</label>
                    <input type="email" name="email" placeholder="Email Address" required>
                </div>
                <div class="signup-date">
                    <label>Birth Date</label>
                    <input type="date" name="date" placeholder="Birth Date" required>
                </div>
                <div class="signup-pass">
                    <label>Password</label>
                    <input type="password" name="reg-password" placeholder="Password" required>
                </div>
                <div class="signup-confimepass">
                    <label>Confime Password</label>
                    <input type="password" name="confimepassword" placeholder="Confime Password" required>
                </div>
                <a href=""><button>Create Account</button></a>
                <p class="already-member">Already a Member? <a href="/signin">Sign In</a></p>
            </div>
        </form>
    </div>
</div> -->

{% endblock body %}